* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3 {
    font-weight: 600;
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}


/* 
------------------------styling for the hero section------------------------
*/

.page-blog-hero-section {
    height: auto;
    width: 100%;
    position: relative;
    color: white;
    z-index: 1;
    overflow: hidden;
    display: flex;
    padding: 50px 8vw;
}

.page-blog-hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('./assets/images/blog-page/hero-image.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.page-blog-hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
    z-index: -1;
}

.page-blog-hero-section>.page-blog-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 70%;
    padding: 0px 10vw 0 0;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-title>a {
    color: white;
    background-color: #e63946;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    width: fit-content;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-title>h1 {
    font-size: 48px;
    font-weight: 800;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-title>p {
    font-weight: 300;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>div>a {
    color: #e63946;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper {
    margin-top: 20px;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper {
    display: flex;
    gap: 15px;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper>.page-blog-hero-content-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    width: 200px;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper>.page-blog-hero-content-card>.page-blog-hero-content-card-img {
    height: 120px;
    width: 200px;
    background-color: beige;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper>.page-blog-hero-content-card>.page-blog-hero-content-card-title>a {
    color: white;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper>.page-blog-hero-content-card>.page-blog-hero-content-card-img1 {
    background-image: url(./assets/images/blog-page/hero-content1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper>.page-blog-hero-content-card>.page-blog-hero-content-card-img2 {
    background-image: url(./assets/images/blog-page/hero-content2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper>.page-blog-hero-content-card>.page-blog-hero-content-card-img3 {
    background-image: url(./assets/images/blog-page/hero-content3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.page-blog-hero-section>.page-blog-hero-new-innovations>a {
    color: #e63946;
}

.page-blog-hero-section>.page-blog-hero-new-innovations {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-blog-hero-section>.page-blog-hero-new-innovations>.page-blog-hero-new-innovation-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-blog-hero-section>.page-blog-hero-new-innovations>.page-blog-hero-new-innovation-cards>.page-blog-hero-new-innovation-card {
    display: flex;
    gap: 20px;
}

.page-blog-hero-section>.page-blog-hero-new-innovations>.page-blog-hero-new-innovation-cards>.page-blog-hero-new-innovation-card>.page-blog-hero-new-innovation-card-img {
    height: 100px;
    width: 100px;
    background-color: beige;
    min-width: 100px;
}

.page-blog-hero-section>.page-blog-hero-new-innovations>.page-blog-hero-new-innovation-cards>.page-blog-hero-new-innovation-card>.page-blog-hero-new-innovation-card-img-content>small {
    font-weight: 300;
}

.page-blog-hero-section>.page-blog-hero-new-innovations>.page-blog-hero-new-innovation-cards>.page-blog-hero-new-innovation-card>.page-blog-hero-new-innovation-card-img1 {
    background-image: url(./assets/images/blog-page/innovation1.png);
    background-size: 100% 100%;
}

.page-blog-hero-section>.page-blog-hero-new-innovations>.page-blog-hero-new-innovation-cards>.page-blog-hero-new-innovation-card>.page-blog-hero-new-innovation-card-img2 {
    background-image: url(./assets/images/blog-page/innovation2.png);
    background-size: 100% 100%;
}

.page-blog-hero-section>.page-blog-hero-new-innovations>.page-blog-hero-new-innovation-cards>.page-blog-hero-new-innovation-card>.page-blog-hero-new-innovation-card-img3 {
    background-image: url(./assets/images/blog-page/innovation3.png);
    background-size: 100% 100%;
}

.page-blog-hero-section>.page-blog-hero-new-innovations>.page-blog-hero-new-innovation-cards>.page-blog-hero-new-innovation-card>.page-blog-hero-new-innovation-card-img4 {
    background-image: url(./assets/images/blog-page/innovation4.png);
    background-size: 100% 100%;
}

.page-blog-hero-section>.page-blog-hero-new-innovations>.page-blog-hero-new-innovation-cards>.page-blog-hero-new-innovation-card>.page-blog-hero-new-innovation-card-img5 {
    background-image: url(./assets/images/blog-page/innovation5.png);
    background-size: 100% 100%;
}


/* responsive design for the hero section of mobile and tab screens */
@media (min-width: 320px) and (max-width: 500px) {
    .page-blog-hero-section {
        flex-direction: column;
        padding: 50px 5vw;
        gap: 50px;
    }

    .page-blog-hero-section>.page-blog-hero-content {
        width: 100%;
        padding: 0;
    }

    .page-blog-hero-section>.page-blog-hero-new-innovations {
        width: 100%;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-title>h1 {
        font-size: 10vw;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper {
        gap: 0;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper>.page-blog-hero-content-card {
        width: 200px !important;
        flex-shrink: 0;
    }
}

@media (min-width: 501px) and (max-width: 650px) {
    .page-blog-hero-section {
        flex-direction: column;
        padding: 50px 10vw;
        gap: 50px;
    }

    .page-blog-hero-section>.page-blog-hero-content {
        width: 100%;
        padding: 0;
    }

    .page-blog-hero-section>.page-blog-hero-new-innovations {
        width: 100%;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-title>h1 {
        font-size: 8vw;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper {
        gap: 0;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper>.page-blog-hero-content-card {
        width: 200px !important;
        flex-shrink: 0;
    }
}

@media (min-width: 651px) and (max-width: 800px) {
    .page-blog-hero-section {
        flex-direction: column;
        padding: 50px 2vw;
        gap: 50px;
    }

    .page-blog-hero-section>.page-blog-hero-content {
        width: 100%;
        padding: 0;
    }

    .page-blog-hero-section>.page-blog-hero-new-innovations {
        width: 100%;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-title>h1 {
        font-size: 6vw;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper {
        gap: 10px;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper>.page-blog-hero-content-card {
        width: 200px !important;
        flex-shrink: 0;
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    .page-blog-hero-section {
        flex-direction: column;
        padding: 50px 10vw;
        gap: 50px;
    }

    .page-blog-hero-section>.page-blog-hero-content {
        width: 100%;
        padding: 0;
    }

    .page-blog-hero-section>.page-blog-hero-new-innovations {
        width: 100%;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-title>h1 {
        font-size: 5vw;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper {
        gap: 10px;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper>.page-blog-hero-content-card {
        width: 200px !important;
        flex-shrink: 0;
    }
}

@media (min-width: 1001px) and (max-width: 1250px) {
    .page-blog-hero-section {
        padding: 50px 3vw;
        gap: 50px;
    }

    .page-blog-hero-section>.page-blog-hero-content {
        width: 70%;
        padding: 0;
    }

    .page-blog-hero-section>.page-blog-hero-new-innovations {
        width: 30%;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-title>h1 {
        font-size: 4vw;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper {
        gap: 10px;
    }

    .page-blog-hero-section>.page-blog-hero-content>.page-blog-hero-content-cards>.trending-swiper>.swiper-wrapper>.page-blog-hero-content-card {
        width: 200px !important;
        flex-shrink: 0;
    }
}


/*
---------------styling for the newproducts and popularnow---------------------  
*/

.newproducts-and-popularnow {
    height: auto;
    width: 100%;
    display: flex;
    padding: 50px 8vw;
    gap: 50px;
}

.newproducts-and-popularnow>.newproducts>h2 {
    font-weight: 700;
}

.newproducts-and-popularnow>.newproducts>.newproducts-img {
    height: 700px;
    width: 600px;
    box-shadow: -4px 0 10px rgb(0, 0, 0, .2);
    transition: transform 0.3s ease;
    transform: scale(1);
    overflow: hidden;
    z-index: 0;
    position: relative;
    margin-top: 20px;
}

.newproducts-and-popularnow>.newproducts>.newproducts-img>.newproducts-img-content {
    color: white;
    position: absolute;
    inset: 0;
    z-index: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newproducts-and-popularnow>.newproducts>.newproducts-img>.newproducts-img-content>.new-button>a {
    background-color: #e63946;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.newproducts-and-popularnow>.newproducts>.newproducts-img>.newproducts-img-content>.related-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newproducts-and-popularnow>.newproducts>.newproducts-img>.newproducts-img-content>.related-button>a {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
}

.newproducts-and-popularnow>.newproducts>.newproducts-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.45;
    z-index: 1;
}

.newproducts-and-popularnow>.newproducts>.newproducts-img:hover img {
    transform: scale(1.05);
}

.newproducts-and-popularnow>.newproducts>.newproducts-img>img {
    height: 700px;
    width: 600px;
    position: relative;
    z-index: 0;
}

.newproducts-and-popularnow>.popularnow>h2 {
    font-weight: 700;
}

.newproducts-and-popularnow>.popularnow>.popularnow-first-row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.newproducts-and-popularnow>.popularnow>.popularnow-first-row>.popularnow-first-row-card {
    height: 330px;
    width: 300px;
    overflow: hidden;
}
.newproducts-and-popularnow>.popularnow>.popularnow-first-row>.popularnow-first-row-card:hover .popularnow-first-row-card-img > img {
    transform: scale(1.05);
}

.newproducts-and-popularnow>.popularnow>.popularnow-first-row>.popularnow-first-row-card>.popularnow-first-row-card-img {
    height: 200px;
    width: 300px;
    background-color: white;
}

.newproducts-and-popularnow>.popularnow>.popularnow-first-row>.popularnow-first-row-card>.popularnow-first-row-card-content {
    margin-top: 20px;
}

.newproducts-and-popularnow>.popularnow>.popularnow-first-row>.popularnow-first-row-card>.popularnow-first-row-card-content>p {
    font-weight: 500;
}

.newproducts-and-popularnow>.popularnow>.popularnow-first-row>.popularnow-first-row-card>.popularnow-first-row-card-img>img {
    height: 200px;
    width: 300px;
    transition: transform .4s ease;
}

.newproducts-and-popularnow>.popularnow>.popularnow-second-row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.newproducts-and-popularnow>.popularnow>.popularnow-second-row>.popularnow-second-row-card {
    height: 330px;
    width: 300px;
    overflow: hidden;
}
.newproducts-and-popularnow>.popularnow>.popularnow-second-row>.popularnow-second-row-card:hover .popularnow-second-row-card-img > img {
    transform: scale(1.05);
}
.newproducts-and-popularnow>.popularnow>.popularnow-second-row>.popularnow-second-row-card>.popularnow-second-row-card-img {
    height: 200px;
    width: 300px;
    background-color: white;
}

.newproducts-and-popularnow>.popularnow>.popularnow-second-row>.popularnow-second-row-card>.popularnow-second-row-card-content {
    margin-top: 20px;
}

.newproducts-and-popularnow>.popularnow>.popularnow-second-row>.popularnow-second-row-card>.popularnow-second-row-card-content>p {
    font-weight: 500;
}

.newproducts-and-popularnow>.popularnow>.popularnow-second-row>.popularnow-second-row-card>.popularnow-second-row-card-img>img {
    height: 200px;
    width: 300px;
    transition: transform .4s ease;
}

/* responsive design for the new products and popular now of mobile and tab screens */
@media (min-width: 320px) and (max-width: 500px) {
    .newproducts-and-popularnow>.newproducts>.newproducts-img {
        height: auto;
        width: 100%;
    }

    .newproducts-and-popularnow {
        flex-direction: column;
        padding: 50px 2vw;
    }

    .newproducts-and-popularnow>.newproducts>.newproducts-img>.newproducts-img-content {
        padding: 40px 10px;
    }

    .newproducts-and-popularnow>.newproducts>.newproducts-img>img {
        height: auto;
        width: 100%;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-first-row {
        flex-direction: column;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-second-row {
        flex-direction: column;
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    .newproducts-and-popularnow>.newproducts>.newproducts-img {
        height: auto;
        width: 100%;
    }

    .newproducts-and-popularnow {
        flex-direction: column;
        padding: 50px 5vw;
    }

    .newproducts-and-popularnow>.newproducts>.newproducts-img>.newproducts-img-content {
        padding: 40px 20px;
    }

    .newproducts-and-popularnow>.newproducts>.newproducts-img>img {
        height: auto;
        width: 100%;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-first-row {
        flex-direction: column;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-second-row {
        flex-direction: column;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    .newproducts-and-popularnow>.newproducts>.newproducts-img {
        height: auto;
        width: 100%;
    }

    .newproducts-and-popularnow {
        flex-direction: column;
        padding: 50px 8vw;
    }

    .newproducts-and-popularnow>.newproducts>.newproducts-img>.newproducts-img-content {
        padding: 40px 20px;
    }

    .newproducts-and-popularnow>.newproducts>.newproducts-img>img {
        height: auto;
        width: 100%;
    }
}

@media (min-width: 901px) and (max-width: 1000px) {
    .newproducts-and-popularnow>.newproducts>.newproducts-img {
        height: auto;
        width: 100%;
    }

    .newproducts-and-popularnow {
        flex-direction: column;
        padding: 50px 10vw;
    }

    .newproducts-and-popularnow>.newproducts>.newproducts-img>.newproducts-img-content {
        padding: 40px 20px;
    }

    .newproducts-and-popularnow>.newproducts>.newproducts-img>img {
        height: auto;
        width: 100%;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .newproducts-and-popularnow>.newproducts>.newproducts-img {
        height: auto;
        width: 100%;
        min-width: 500px;
        min-height: 400px;
        max-height: 700px;
    }

    .newproducts-and-popularnow {
        padding: 50px 2vw;
        gap: 20px;
    }

    .newproducts-and-popularnow>.newproducts>.newproducts-img>.newproducts-img-content {
        padding: 40px 20px;
    }

    .newproducts-and-popularnow>.newproducts>.newproducts-img>img {
        height: auto;
        width: 100%;
        min-height: 400px;
        max-height: 700px;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-first-row>.popularnow-first-row-card {
        height: auto;
        width: 100%;
        max-width: 300px;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-first-row>.popularnow-first-row-card>.popularnow-first-row-card-img {
        height: auto;
        width: 100%;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-first-row>.popularnow-first-row-card>.popularnow-first-row-card-img>img {
        height: auto;
        width: 100%;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-second-row>.popularnow-second-row-card {
        height: auto;
        width: 100%;
        max-width: 300px;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-second-row>.popularnow-second-row-card>.popularnow-second-row-card-img {
        height: auto;
        width: 100%;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-second-row>.popularnow-second-row-card>.popularnow-second-row-card-img>img {
        height: auto;
        width: 100%;
    }
}
@media (min-width: 1201px) and (max-width: 1500px) {
    .newproducts-and-popularnow>.newproducts>.newproducts-img {
        height: auto;
        width: 100%;
        min-width: 500px;
        min-height: 400px;
        max-height: 700px;
    }

    .newproducts-and-popularnow {
        padding: 50px 8vw;
        gap: 40px;
    }

    .newproducts-and-popularnow>.newproducts>.newproducts-img>.newproducts-img-content {
        padding: 40px 20px;
    }

    .newproducts-and-popularnow>.newproducts>.newproducts-img>img {
        height: auto;
        width: 100%;
        min-height: 400px;
        max-height: 700px;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-first-row>.popularnow-first-row-card {
        height: auto;
        width: 100%;
        max-width: 300px;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-first-row>.popularnow-first-row-card>.popularnow-first-row-card-img {
        height: auto;
        width: 100%;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-first-row>.popularnow-first-row-card>.popularnow-first-row-card-img>img {
        height: auto;
        width: 100%;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-second-row>.popularnow-second-row-card {
        height: auto;
        width: 100%;
        max-width: 300px;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-second-row>.popularnow-second-row-card>.popularnow-second-row-card-img {
        height: auto;
        width: 100%;
    }

    .newproducts-and-popularnow>.popularnow>.popularnow-second-row>.popularnow-second-row-card>.popularnow-second-row-card-img>img {
        height: auto;
        width: 100%;
    }
}

/*
--------------styling for the social media banner-----------------
*/
.social-media-banner {
    padding: 50px 8vw;
}
.social-media-banner > .linkedin-banner {
    height: 300px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 50px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media-banner > .linkedin-banner::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background-image: url(./assets/images/blog-page/social-media-banner/modern-business-center.jpg);
    background-position: center;
    background-size: 100% 100%;
    z-index: -1;
    border-radius: 10px;
}
.social-media-banner > .linkedin-banner::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, #000d27, #163e8f, #4466a8);
    opacity: .9;
    z-index: 0;
    border-radius: 10px;
    inset: 0;
}
.social-media-banner > .linkedin-banner > .linkedin-banner-title {
    z-index: 5;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social-media-banner > .linkedin-banner > .linkedin-banner-title > h1 {
    font-weight: 800;
    font-size: 2.5vw;
}
.social-media-banner > .linkedin-banner > .linked-banner-button {
    z-index: 5;
    color: white;
} 
.social-media-banner > .linkedin-banner > .linked-banner-button > .banner-button > a {
    color: #0479b8;
    background-color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: fit-content;
}
.social-media-banner > .linkedin-banner > .linked-banner-button > .banner-button > a > img {
    height: 24px;
    width: 24px;
}


/* responsive design for the social media banner of the mobile and tab screens */

@media (min-width: 320px) and (max-width: 500px) {
    .social-media-banner {
        padding: 40px 2vw;
    }
    .social-media-banner > .linkedin-banner {
        height: auto;
        flex-direction: column;
        padding: 20px 1vw;
        gap: 50px;
    }
    .social-media-banner > .linkedin-banner > .linkedin-banner-title {
        width: 100%;
    }
    .social-media-banner>.linkedin-banner>.linkedin-banner-title>h1 {
        font-weight: 800;
        font-size: 6vw;
    }
}
@media (min-width: 501px) and (max-width: 700px) {
    .social-media-banner {
        padding: 40px 5vw;
    }
    .social-media-banner > .linkedin-banner {
        height: auto;
        flex-direction: column;
        padding: 20px 1vw;
        gap: 50px;
    }
    .social-media-banner > .linkedin-banner > .linkedin-banner-title {
        width: 100%;
    }
    .social-media-banner>.linkedin-banner>.linkedin-banner-title>h1 {
        font-weight: 800;
        font-size: 6vw;
    }
}


/* 
-----------------styling for the editor choice and worth reading------------------- 
*/

.editorChoice-worthReading {
    padding: 50px 8vw;
}
.editorChoice-worthReading > .editor-and-worth {
    display: flex;
    height: auto;
    width: 100%;
}
.editorChoice-worthReading > .editor-and-worth > .editor-choice {
    width: 75%;
}
.editorChoice-worthReading > .editor-and-worth > .editor-choice > h2 {
    font-weight: 700;
}
.editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards > .editor-choice-card {
    height: 350px;
    width: 300px;
    background-color: white;
    overflow: hidden;
}
.editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards > .editor-choice-card > img {
    height: 200px;
    width: 300px;
    transition: transform .4s ease;
    transform: scale(1);
}
.editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards > .editor-choice-card:hover img {
    transform: scale(1.05);
}
.editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards > .editor-choice-card > .editor-choice-card-info {
    margin-top: 10px;
}
.editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards > .editor-choice-card > .editor-choice-card-info > a {
    color: #000d27;
    font-weight: 500;
}
.editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards > .editor-choice-card > .editor-choice-card-info > p {
    font-size: small;
}
.editorChoice-worthReading > .editor-and-worth > .worth-reading {
    width: 25%;
}
.editorChoice-worthReading > .editor-and-worth > .worth-reading > h2 {
    font-weight: 700;
}
.editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards {
    margin-top: 20px;
}
.editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card {
    width: 300px;
    height: 350px;
    border-bottom: 0.1px solid #cccccc;
}
.editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card > video {
    height: auto;
    width: 300px;
}
.editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card > .worth-reading-card-info {
    margin-top: 10px;
}
.editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card > .worth-reading-card-info > a {
    color: #000d27;
    font-weight: 500;
}
.editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card > .worth-reading-card-info > p {
    font-size: small;
}
.editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-second-cards > .worth-reading-second-card {
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 300px;
    justify-content: center;
    border-bottom: 0.1px solid #cccccc;
    gap: 10px;
}
.editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-second-cards > .worth-reading-second-card > a {
    color: #000d27;
    font-weight: 500;
}


/* responsive design for the editor choice and worth reading of the mobile and tab screens */
@media (min-width: 320px) and (max-width: 500px) {
    .editorChoice-worthReading {
        padding: 50px 3vw;
    }
    .editorChoice-worthReading > .editor-and-worth {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice {
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards > .editor-choice-card {
        height: auto;
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards > .editor-choice-card > img {
        height: auto;
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading {
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card {
        height: auto;
        width: 100%;
        padding-bottom: 50px;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card > video {
        height: auto;
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-second-cards > .worth-reading-second-card {
        width: 100%;
    }
}
@media (min-width: 501px) and (max-width: 700px) {
    .editorChoice-worthReading {
        padding: 50px 5vw;
    }
    .editorChoice-worthReading > .editor-and-worth {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice {
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards > .editor-choice-card {
        height: auto;
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards > .editor-choice-card > img {
        height: auto;
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading {
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card {
        height: auto;
        width: 100%;
        padding-bottom: 50px;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card > video {
        height: auto;
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-second-cards > .worth-reading-second-card {
        width: 100%;
    }
}
@media (min-width: 701px) and (max-width: 900px) {
    .editorChoice-worthReading {
        padding: 50px 5vw;
    }
    .editorChoice-worthReading > .editor-and-worth {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice {
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice > h2 {
        text-align: center;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards {
        justify-content: center;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading {
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card {
        height: auto;
        width: 100%;
        padding-bottom: 50px;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card > video {
        height: auto;
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-second-cards > .worth-reading-second-card {
        width: 100%;
    }
}
@media (min-width: 901px) and (max-width: 1000px) {
    .editorChoice-worthReading {
        padding: 50px 8vw;
    }
    .editorChoice-worthReading > .editor-and-worth {
        display: flex;
        gap: 0px;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice {
        width: 100%;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading {
        width: 100%;
    }
}
@media (min-width: 1001px) and (max-width: 1500px) {
    .editorChoice-worthReading {
        padding: 50px 5vw;
    }
    .editorChoice-worthReading > .editor-and-worth {
        display: flex;
        gap: 0px;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice {
        width: 75vw;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading {
        width: 25vw;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards > .editor-choice-card {
        width: 20vw;
    }
    .editorChoice-worthReading > .editor-and-worth > .editor-choice > .editor-choice-cards > .editor-choice-card > img {
        width: 20vw;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card {
        width: 20vw;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-cards > .worth-reading-card > video {
        width: 20vw;
    }
    .editorChoice-worthReading > .editor-and-worth > .worth-reading > .worth-reading-second-cards > .worth-reading-second-card {
        width: 20vw;
    }
}